@import '$src/Assets/mixins';

div.artical-section{
    display: flex;
section.image-section{
    flex: 1;
}
 section.blog-section{
     flex: 1;
     flex-direction: column;
     justify-content: center;
     align-items: flex-start;
     margin-left: 20px;
     h4.blog-heading {
        @include pragraphStyles();
        font-size: 28px;
        font-weight: 500px;
        text-align: left;
      }
 }
 
}
div.culture-artical{
    display: flex;
    justify-content: space-between;
    align-items: center;
    section{
     margin-right: 20px;
    }
}
p{
    margin-top: 10px;
}

