@import "$src/Assets/mixins";

h2.profile-heading {
  @include headingStyles();
}
hr {
  border: 0.5px dotted;
  margin: 20px;
}
div.profile-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--skinColor);
  margin-bottom: 30px;
  div.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
  }
  img.profile-image {
    margin-top: 60px;
  }
  p {
    @include pragraphStyles();
    width: 217px;
    height: 46px;
    font-size: 18px;
    text-align: center;
    margin-bottom: 30px;
  }
}

body.darkmode {
  div {
    p {
      background-color: #3d3d3d;
      color: var(--whiteColor);
    }
  }
}
