// colors
:root {
  --skinColor: #f8f1e8;
  --goldenColor: #edc47f;
  --pinkColor: #f0c0c1;
  --greenColor: #74bdb1;
  --orangeColor: #dd6849;
  --blackColor: #000000;
  --whiteColor: #ffffff;
  --grayColor: #aeaeac;
  --darkMode :#3D3D3D;
}

$skinColor: #f8f1e8;

//fonts
$TitleFont: "Roboto", sans-serif;
$RobotoCondensedFont: "Roboto Condensed", sans-serif;
$ArticalFont: "Playfair Display", serif;